* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    width: 100vw;
    height: 100vh;

    svg.intro {
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .text { 
      display: none;
    }
    &.go {
      .text {
        font-family: Arial, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        display: block;
      }
      .text-stroke {
        fill: none;
        stroke: rgb(19, 23, 93);
        stroke-width: 2.8px;
        stroke-dashoffset: -900;
        stroke-dasharray: 900;
        stroke-linecap: butt;
        stroke-linejoin: round;
        animation: dash 2.5s ease-in-out forwards;
      }
      .text-stroke:nth-child(2) {
        animation-delay: .3s;
      }
      .text-stroke:nth-child(3) {
        animation-delay: .9s;
      }
      .text-stroke-2 {
        stroke: rgb(16, 105, 205);
        animation-delay: 1.2s;
      }
      .text-stroke:nth-child(5) {
        animation-delay: 1.5s;
      }
      .text-stroke:nth-child(6) {
        animation-delay: 1.8s;
      }
    }
  }
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
    svg {
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
}
@mixin container {
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    position: relative;
    overflow: hidden;/*範囲外は隠す*/

}
.container {
    @include container;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        object-fit: cover;
        z-index: -2;
    }
    .wrapper {
        width: 100vw;
        height: 100vh;
        max-width: 1440px;
        color: rgba(255,250,250);
        text-align: center;
        background-color: rgba(0,0,0,0.4);
         h1 {
             position: relative;
             top: 45vh;
             margin: auto;
             padding-bottom: 20px;
         }
         p {
             position: relative;
             top: 45vh;
             margin: auto;
         }
    }
    i {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        padding-top: 70px;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-decoration: none;
        color: rgba(255,250,250,0.8);
      }
      i span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb 1.5s infinite;
        animation: sdb 1.5s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb {
        0% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          -webkit-transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;
        }
      }
      @keyframes sdb {
        0% {
          transform: rotate(-45deg) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;
        }
      }
}

