* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    position: relative;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        object-fit: cover;
        z-index: -1;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        object-fit: cover;
        z-index: -2;
    }
    .top {
        width: 100vw;
        height: 100vh;
        max-width: 1440px;
        color: rgba(255,250,250);
        text-align: center;
        background-color: rgba(0,0,0,0.4);
         h1 {
             position: relative;
             top: 45vh;
             margin: auto;
         }
         p {
             position: relative;
             top: 45vh;
             margin: auto;
         }
    }
}

